# .env
# src/config.json.js

node_modules/
build/

# deprecated
# static/articles/
# folder/data/
# folder/errors/*.json

# folder/!localStorage/

# folder/SSLSecret/certificate.crt
# folder/SSLSecret/private.key
# folder/SSLSecret/ca_bundle.crt

yarn-error.log
