.env
src/config.json.js

node_modules/

src/site/_build/_public_out/
src/site/_build/.cache/
src/public/articles/
src/articles/_items

folder/!localStorage/

folder/SSLSecret/privkey.pem
folder/SSLSecret/cert.pem

yarn-error.log
