{
  "semi": true,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
