export default {
  developers: [
    "416701743733145612",
    "469879141873745921",
    "500293566187307008",
    "535402224373989396",
    "921403577539387454",
    "711450675938197565",
    "836804013630029825", 
  ],
  guild: {
    url: "https://discord.gg/76hCg2h7r8",
    logChannelId: "1186636612835217428",
    ideaChannelId: "753587805195862058",
  },
  development: true,

  enviroment: {
    github: "https://github.com/zoodogood/1119",
    branch: "version-2",
  },

  server: {
    isAvailable: true,
    source: "./src/server",
    origin: "http://localhost:8119",
    hostname: "localhost",
    port: 8119,
    hasSSLCertificate: null,
    paths: {
      static: "./static",
      site: "./pages",
    },
  },
  site: {
    source: "./src/site",
    label: "Призрак",
  },
  i18n: {
    path: "folder/i18n",
    availableLanguages: ["en", "ru", "ua"],
  },
  giscus: {
    repository: "zoodogood/1119",
    repoId: "MDEwOlJlcG9zaXRvcnkyNTI3MjE2NjQ=",
    categoryName: "Articles comments",
    categoryId: "DIC_kwDODxA6AM4CUXuy",
    /* https://giscus.app/ */
  },
  pm2: {
    id: null,
  },
  database: {
    driver: "localdb",
    mongoURL: null,
  },
};
